*{
    display: border-box;
    margin:0;
    padding: 0;
}
body{
    background-color: #FFFECE;
}
.container{
    margin-top:30px;
    text-align: center;
}
h1{
    margin: 20px;
    font-size: 8rem;
    color:green;
    font-family:"lobster";
}
.images{
    margin-left: 300px;
}
.dice{
    margin:70px;
    display:inline-block;
    text-align: center; 
    margin:50px;
}
p {
    margin: 20px;
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }

  
  img {
    width: 80%;
  }
footer{
    text-align: center;
    font-size: 20px;
}
